body{
    font-family: 'Pangolin', cursive;
}


/* AGE SELECTION */
.login{
    background: url('../assets/backgrounds/bfOne.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 600px;
    padding-top: 70px;
    opacity: .9;
    color:white;
    display: none;
}

.ground{
    padding: 10px;
    padding-left: 20px;
    
}

.names{
    padding-left: 20%;
    padding-top: 10%;
}

.now{
    padding: 20px;
    width: 200px;;
    border-radius: 100px;
    position: absolute;
    left: 47%;
    top: 60%;
}


/* HEADER */
.welkom{
    width: 100%;
}

.field{

}

.tagline{
    padding-top:50px;
    padding-bottom: 50px;
    background-image: url("../assets/backgrounds/bfOne.jpg");
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;

}
.tagline img {
    width: 50px;
    height: 50px;
    margin: 0;
}

.tagline h2{
    margin: 0;
}

.profile{
    width: 200px;
    height: 200px;
}

/* GAME SECTION */
.roll{
    background-image: url('../assets/roll.png');
    background-position: right;
    background-repeat: no-repeat;
    background-size: 2900%;
    height: 150px;
    width: 150px;
    top: 5%;
    /* left: 30%;
    top: 27%; */
    -ms-transform: translate(-50%,
    -47.5%);
    -webkit-transform: translate(-50%, -47.5%);
    transform: translate(-50%,
    -47.5%);
    clear: both;
    margin-left: -5%;
    margin-top: -10%;
}



#dice{
    height: 200px;
    width: 200px;
}



/* RESULT SECTION */
ul{
    list-style-type: none;
    padding: 10px;
}



/* FOOTER */
.social {
    
}

.conds span{
    padding-right: 10px;
    padding-left: 10px;
}

.social h2{
    text-align: center;
    background: #020001;
    color: white;
    padding:20px;
    margin: 0;
}

.social div{
    text-align: center;
    color: green;
}

.terms{
    text-align: center;

}
.conds{
    background:url('../assets/backgrounds/diceTatu.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 80px;
    padding-top: 20px;
}

.terms , .conds{ 
    font-size: 18px;
}
 /* .facebook h3,.twitter h3,.github h3,.slack h3{

 } */

.facebook{
    background: #3498DB;
}
.twitter{
    background: #5DADE2;
}
.github{
    background: #566573;
}

.slack{
    background: seashell;
}


/* EFFECTS */
@keyframes roll-burst {
    from {
        background-position: left;
    }
    to {
        background-position: right;
    }
}

/* .roll {
    animation: roll-burst 1s infinity;
} */
.animating{
    animation: roll-burst .2s steps(28) 5;
}