/*
AUTHOR  : *******   von MUTINDA *********************

        ********Let There Be Excellence**********
*/
body{
    font-family: 'Pangolin', cursive;
    font-size: 18px;
}



/* LOGIN SELECTION */
.pig{
    width: 100%;
    height: 500px;
}
.login{
    background: url('../assets/backgrounds/goldBlack.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 500px;
    display: none;
    opacity: .9;
    color:white;
}

.ground{
    padding: 10px;
    padding-left: 10px;
    background: url('../assets/action.png');
    color: white;
    text-align: center;
}

.names{
    padding-top: 10%;
}

.now{
    padding: 20px;
    width: 200px;
    border-radius: 100px;
}


/* HEADER */
.welkom{
    width: 100%;
}

.tagline{
    padding-top:50px;
    padding-bottom: 50px;
    background-image: url("../assets/backgrounds/bfOne.jpg");
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;

}
.tagline img {
    width: 50px;
    height: 50px;
    margin: 0;
}

.tagline h2{
    margin: 0;
    padding-top: 20px;
    /* font-family: 'Special Elite', cursive; */
}

.profile{
    width: 200px;
    height: 200px;
}

/* GAME SECTION */
button{
    background-color: #fff;
    border: 3px double #1da1f2;
    color: #1da1f2;
}
.roll{
    /* position: absolute; */
    background-image: url('../assets/roll.png');
    background-position: right;
    background-repeat: no-repeat;
    background-size: 2900%;
    height: 150px;
    width: 150px;
    -ms-transform: translate(-50%,
    -47.5%);
    -webkit-transform: translate(-50%, -47.5%);
    transform: translate(-50%,
    -47.5%);
    clear: both;
    margin-top: 40%;
    margin-left: 50%;
}

#pOne , #pTwo{
    padding:10px;
    width: 90%;
    text-align: center;
    border-radius: 25px 100px;
    background-color: #fff;
    border: 3px double #1da1f2;
    color: black;
}

#dice{
    height: 200px;
    width: 200px;
}

.settings{
    /* position: relative; */
    height: 90%;
}
form{
    clear: both;
    padding: 10px;
    margin-top: -1%;
    background-color:black;
    border: solid 1px #1da1f2;
    border-radius: 10px;
    color:white;

}
input{
    height: 20px;
    width: 20px;
    padding: 10px;
}

/* RESULT SECTION */
ul{
    list-style-type: none;
    padding: 10px;
}

#aerial , #antenna{
    font-family: 'Cabin Sketch', cursive;
    font-size: 24px;
    color: white;
    font-weight: bold
}



/* FOOTER */
.social h2{
    font-family: 'Cabin Sketch' 'cursive';
    text-align: center;
    background:black;
    color: white;
    padding:10px;
    margin: 0;
    border: solid double white;
}

.social div{
    border-radius: 100px;
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border: 3px double #1da1f2;
    color: #1da1f2;
    margin-top:2px;
    margin-bottom: 2px;
}

.terms{
    text-align: center;
}

.terms a , .social a{
    padding: 10px;
    text-decoration: none;
}

.conds{
    background:url('../assets/backgrounds/diceTatu.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 80px;
    padding-top: 20px;
}

.terms , .conds{ 
    font-size: 18px;
}

/* EFFECTS */
@keyframes roll-burst {
    from {
        background-position: left;
    }
    to {
        background-position: right;
    }
    
}


.animating{
    animation: roll-burst .2s steps(28) 5;
}